	<div class="footer">
		<div class="footer-grids">
		  <div class="container">
			  <div class="col-md-3 footer-grid">
					<h4>Recursos</h4>
					<ul>
						<li><a href="#">Historia</a></li>
						<li><a href="#">Herramientas</a></li>
						<li><a href="#">Manual de instalación</a></li>
					</ul>
			  </div>
			 <div class="col-md-3 footer-grid">
					<h4>En la Colectiva</h4>
				   <ul>
						<li><a href="http://colectivafeminista.org.sv/">Sitio web</a></li>
						<li><a href="http://colectivafeminista.org.sv/radio-de-todas.html">La Radio de Todas</a></li>
				  </ul>
			 </div>
			 <div class="col-md-3 footer-grid">
					<h4>Enlaces</h4>
					<ul>
						<li><a href="http://www.anacaonas.net">anacaonas.es</a></li>
						<li><a href="http://www.apc.org/es">Asociación para el Progreso de las Comunicaciones</a></li>
						<li><a href="https://www.takebackthetech.net/es">Dominemos la tecnología!</a></li>
						<li><a href="http://www.genderit.org/es">Genderit.org</a></li>
						<li><a href="http://www.e-igualdad.net">e-igualdad.net</a></li>
					</ul>
			 </div>
			 <div class="col-md-3 footer-grid contact-grid">
					<h4>Contactanos</h4>
					<ul>
						<li><span class="c-icon"> </span>Calle Gabriela Mistral, 224, San Salvador, El Salvador.</li>
						<li><span class="c-icon1"> </span><a href="mailto:info.matilti@yandex.com">info.matilti@yandex.com</a></li>
						<li><span class="c-icon2"> </span>22 26 03 56</li>
					</ul>
					<ul class="social-icons">
						<li><a href="#" class="facebook"> </a></li>
						<li><a href="#" class="p"> </a></li>
						<li><a href="#" class="t"> </a></li>
					</ul>
			 </div>
			 <div class="clearfix"></div>
		 </div>
		</div>
	</div>
	<div class="copy">
		 <p>
			 <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
				 <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
			</a>
			This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
		</p>
	</div>
