
	<div class="about1" id="Funciones">
		<div class="container">
			<div class="fig-text1">
				<div class="col-md-6 fig-text1-right">
					<h3>Opciones basicas</h3>
					<div class="line glob">
					</div>
					<ul>
						<li><a>Campañas de información.</a></li>
						<li><a>Envio de convovatorias.</a></li>
						<li><a>Envio de convocatorias a un segmento de las personas, por sexo, rango de edad, localidad, zona geografica, por grupos definidos, roles, entre otros.</a></li>
						<li><a>Envio de mensajes a una o varias personas.</a></li>
						<li><a>Envio de mensajes colectivos.</a></li>
						<li><a>Registro de denuncias relacionadas a violencias.</a></li>
						<li><a>Envio de informacion a personas fuera de la red de defensoras.</a></li>
						<li><a>Envio del protocolo de atencion ante agresiones sexuales.</a></li>
					</ul>
				</div>
				<div class="col-md-6 fig-text1-right">
					<h3>Opciones avanzadas</h3>
					<div class="line glob">
					</div>
					<ul>
						<li><a>Sistema de alerta temprana y ante emergencias.</a></li>
						<li><a>Movil hacktivismo (masivo, estimulo/respuesta y respuestas y preguntas predeterminadas).</a></li>
						<li><a>Reglas de uso en base a roles de registro, envio y recepcion de mensajes.</a></li>
						<li><a>Gestion de palabras reservadas.</a></li>
						<li><a>administracion remota del sistema a travez de mensajes de texto.</a></li>
						<li><a>Publicación de mensajes filtrados en redes sociales.</a></li>
						<li><a>Gestion de la comunicacion para sub grupos de defensoras.</a></li>
						<li><a>Analisis de denuncias por tipo, zona geografica, hora y fecha de denuncia, .</a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //about -->
