	<div class="news" id="Eventos">
		<div class="news-info">
			<h3>Noticias y Eventos</h3>
			<div class="news-grids">
				<div class="news-grid">
					<div class="news-grid-left">
						<p>2016 <span>Mayo</span></p>
					</div>
					<div class="news-grid-right">
						<h4>Primer reunion de analisis de resultados de denuncias</h4>
						<p>Como parte del proceso de mejora y verificacion de denuncias se han planificado sesiones permanentes de analisis de denuncias y generacion de alternativas para erradicar las violencias denunciadas.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="news-grid">
					<div class="news-grid-left">
						<p>2016 <span>Mayo</span></p>
					</div>
					<div class="news-grid-right">
						<h4>Inicia taller de capacitacion con la red de defensoras de San Salvador</h4>
						<p>x<br>y<br>z.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="news-grid">
					<div class="news-grid-left">
						<p>2016 <span>Abril</span></p>
					</div>
					<div class="news-grid-right">
						<h4>Finaliza capacitación de red de defensoras de occidente</h4>
						<p>Terminan las jornadas de capacitacion donde se modelo Matilti a las necesidades de comunicacion de la red. Se conto con la participacion de muchas mujeres que le dieron forma y vida a la herramienta.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
