<!-- about -->
	<div class="about" id="Premios">
		<div class="container">
			<div class="col-md-6 people-left">
				<h3>Premios y nominaciones</h3>
				<div class="line glob">
				</div>
				<ul>
					<li>
						<div class="numer">1
						</div>
						<div class="numer-right">
							<h4><a href="http://www.bancomundial.org/es/news/feature/2013/01/22/domestic-violence-hackathon-smartphone-lifesaver">Hackathon contra la Violencia Doméstica</a>
								<span>El Salvador, 26 y 27 de enero</span></h4>
							<p>Los ganadores en El Salvador se enfocaron en la prevención, con una línea de emergencia integrada en la web y SMS, para proporcionar información sobre la violencia de género y sobre cómo hacer una denuncia <a href="http://www.uca.edu.sv/noticias/texto-531">UCA noticias</a>.</p>
						</div>
						<div class="clearfix"> </div>
					</li>
					<li>
						<div class="numer">2
						</div>
						<div class="numer-right">
							<h4><a href="http://www.lacnic.net/web/anuncios/2013-frida-premiados" target="_blank">Mención especiales en Premios LACNIC - FRIDA 2013</a>
								<span>Montevideo, 3 de julio</span></h4>
							<p> Premiado por contribuido de forma destacada al desarrollo de la Sociedad de la Información en América Latina y el Caribe por el Fondo Regional para la Innovación Digital en América Latina y el Caribe (FRIDA), según se anunció en la Casa de Internet de Latinoamérica y el Caribe.</p>
						</div>
						<div class="clearfix"> </div>
					</li>
					<li>
						<div class="numer">3
						</div>
						<div class="numer-right">
							<h4><a href="https://en.wikipedia.org/wiki/Human_Rights_Tulip#2014">Nominación a premios TULIP en derechos humanos</a>
								<span>Hivos, junio de 2014</span></h4>
							<p> .</p>
						</div>
						<div class="clearfix"> </div>
					</li>
				</ul>
			</div>
			<div class="col-md-6 people-right">
				<h3>Nuestro Objetivo</h3>
				<div class="line glob">
				</div>
				<div class="fig-text">
					<div class="fig-text-left">
						<img src="images/MATILTI.png" alt=" " class="img-responsive" />
					</div>
					<div class="fig-text-right">
						<h4>La Matilti Feminista</h4>
						<p>Fue desarrollada para que sea usada como un mecanismo que facilite la comunicación entre defensoras de derechos humanos.</p>
					</div>
					<div class="clearfix"> </div>
					<p>Utiliza protocolos de comunicación  seguros, a travez de internet, correos electronicos y mensajes de texto entre otros.</p>
					<p>Aproximandonos cada vez mas a poseer soberania tecnologica la Colectiva Feminista desarrolla Matilti, con el principal objetivo de 
					   apoyar a una vida libre de violencia para las mujeres en nuestro pais
					</p>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
