
<!-- services -->
	<div class="services" id="services">
		<div class="container">
			<h3>Herramientas que utiliza Matilti Feminista</h3>
			<div class="line ser">
			</div>
			<p class="et">Matilti esta construida totalmente con software libre, desde los editores de texto hasta las herramientas de software más complejas.</p>
			<p class="et">Todo esta publicado bajo <a href="http://creativecommons.org/licenses/by-sa/3.0/es/deed.es" rel="license" target="_new">licencia Creative Commons Atribución-CompartirIgual 3.0 Unported</a> <img src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" style="border-width:0" alt="Licencia Creative Commons"> y puede 
			descargar el codigo fuente desde 
			 <a href="https://github.com/wilxsv/acrasame-zp/archive/master.zip" target="_new">
			  <img class="img-responsive" alt=" " src="images/GitHub_Logo.png" height="27" width="100" >
			  <img class="img-responsive" alt=" " src="images/Octocat.png" height="59" width="50" >
			 </a></p>
			<div class="services-grids">
				<div class="col-md-3 services-grid">
					<div class="para">
						<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
						<p>Debian OS.</p>
					</div>
				</div>
				<div class="col-md-3 services-grid">
					<div class="para">
						<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
						<p>Gestor de bases de datos PostgreSQL<br/>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, 
							consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt 
							ut labore et dolore magnam aliquam quaerat voluptatem.</p>
					</div>
				</div>
				<div class="col-md-3 services-grid">
					<div class="para">
						<span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
						<p>Gammu <br/>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, 
							consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt 
							ut labore et dolore magnam aliquam quaerat voluptatem.</p>
					</div>
				</div>
				<div class="col-md-3 services-grid">
					<div class="para">
						<span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
						<p>symfony 2 framework php5<br/>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, 
							consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt 
							ut labore et dolore magnam aliquam quaerat voluptatem.</p>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //services -->
