
<!-- services -->
	<div class="services" id="services">
		<div class="container">
			<h3>Our Services</h3>
			<div class="line ser">
			</div>
			<p class="et">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, 
				consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt 
				ut labore et dolore magnam aliquam quaerat voluptatem.</p>
			<div class="services-grids">
				<div class="col-md-4 services-grid">
					<div class="para">
						<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
						<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, 
							consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt 
							ut labore et dolore magnam aliquam quaerat voluptatem.</p>
					</div>
				</div>
				<div class="col-md-4 services-grid">
					<div class="para">
						<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
						<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, 
							consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt 
							ut labore et dolore magnam aliquam quaerat voluptatem.</p>
					</div>
				</div>
				<div class="col-md-4 services-grid">
					<div class="para">
						<span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
						<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, 
							consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt 
							ut labore et dolore magnam aliquam quaerat voluptatem.</p>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //services -->
