	<div class="welcome" id="Historia">
		<div class="container">
			<h3>Historia !</h3>
			<div class="line">
			</div>
			<p>
			 Matilti es una herramienta desarrollada con visión feminista que facilita la comunicación entre las personas registradas y gestiona las denuncias por violencia contra ellas, es usado generalmente por defensoras de derechos humanos para el ejercicio de defensoría a través de la tecnología y en colaboración con las instituciones del gobierno responsables de velar por la seguridad, el medio principal de comunicación son los mensajes de texto.
			</p>
			<p>
			 Considerando que el acceso a la telefonía móvil en el Salvador se ha convertido en una realidad y que su uso se ha masificado, la CFDL ha optado por impulsar una alternativa tecnológica que se apoye en la infraestructura de las telecomunicaciones, la cual basa su funcionamiento en un sistema simple que garantice su acceso.
			</p>
			<p>
			 Bajo la premisa de crear una herramienta libre, simple y accesible se concibió Matilti, el cual es un canal de comunicación que posee varias formas de operar, pero que su funcionamiento se basa en la recepción y envió de mensajes de texto para diferentes propósitos.
			</p>
			<h3>Participantes</h3>
			<div class="welcome-grids" id="Participantes">
				<div class="col-md-6 welcome-grid">
					<div class="welcome-grid-left">
						<h4>Red Salvadoreña de Defensoras de Derechos Humanos</h4>
						<p>Conformada por 6 Redes Sub nacionales, </p>
						<p>correo | twitter | facebbok | sitio_web</p>
					</div>
					<div class="welcome-grid-right">
						<img src="images/1.png" alt=" " class="img-responsive" />
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-6 welcome-grid">
					<div class="welcome-grid-right aliquam">
						<img src="images/2.png" alt=" " class="img-responsive" />
					</div>
					<div class="welcome-grid-left non">
						<h4>Red de Defensoras de Derechos Humanos de Occidente</h4>
						<p>Adipisci velit, sed quia non numquam eius modi tempora incidunt 
							ut labore et dolore magnam aliquam quaerat voluptatem</p>
						<p>correo | twitter | facebbok | sitio_web</p>
					</div>
					
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="welcome-grids">
				<div class="col-md-6 welcome-grid">
					<div class="welcome-grid-left">
						<h4>Iniciativa Mesoamericana de Defensoras</h4>
						<p>Adipisci velit, sed quia non numquam eius modi tempora incidunt 
							ut labore et dolore magnam aliquam quaerat voluptatem</p>
						<p>correo | twitter | facebbok | sitio_web</p>
					</div>
					<div class="welcome-grid-right">
						<img src="images/3.png" alt=" " class="img-responsive" />
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-6 welcome-grid">
					<div class="welcome-grid-right aliquam">
						<img src="images/4.png" alt=" " class="img-responsive" />
					</div>
					<div class="welcome-grid-left non">
						<h4>Asociacion Colectiva Feminista para el Desarrollo Local</h4>
						<p>Adipisci velit, sed quia non numquam eius modi tempora incidunt 
							ut labore et dolore magnam aliquam quaerat voluptatem</p>
						<p>correo | twitter | facebbok | sitio_web</p>
					</div>
					
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //welcome -->
